.content{
    a{
        text-decoration: none;
    }

	width: 80vw;
	height: 100%;
	font-family: 'Open Sans',sans-serif;
	position: absolute;
	top: 0;
    left:20vw;

    .introduction{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .introduction-text{
        margin-left: 100px;
        button{
            background-color: transparent;
            position: relative;
            color:#ed5107;
            margin-top: 20px;
            padding:16px 45px;
            border:1px solid #D6A882;
            transition: color 0.3s ease-out 0.3s;
            font-family: Verdana;
            cursor: pointer;
            overflow: hidden;
        }
        button::before{
            content: "";
            position: absolute;
            top: -69px;
            left:0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: #D6A882;
            transform: skewY(-12deg);
            transition:all 0.5s ease-out;
        }
        button::after{
            content: "";
            position: absolute;
            bottom: -69px;
            right:0px;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: #D6A882;
            transform: skewY(-12deg);
            transition:all 0.5s ease-out;
        }
        button:hover::before{
            top:-23px;
        }
        button:hover::after{
            bottom:-23px;
        }
        a:hover button{
            color:#F6F4ED;
        }
        button{
            text-decoration: none;
            color:#D6A882;   
        }
    }
}
