.content{
    a{
        text-decoration: none;
    }

	width: 80vw;
	height: 100%;
	font-family: 'Open Sans',sans-serif;
	position: absolute;
	top: 0;
	left:20vw;
	display: flex;
    align-items: center;
    justify-content: space-evenly;

	.about-text{
		width: 500px;
	}
	.about-text p:first-child{
		font-family: 'Playfair Display';
		font-size: 60px;
	}
	.about-text p:nth-child(2){
		font-family: 'Playfair Display';
		font-size: 30px;
		padding-top: 20px;
	}
	.about-text p:last-child{
		font-family: 'Open Sans',sans-serif;
	}
	.about-image img{
		margin: 0;
		filter: brightness(90%);
	}
	
	
}